@import './modules/reset.css';
@import './modules/advisories.css';
main {
    background-color: #a04061;
    color: #f4f4f4;
    height: 100%;
    width: 100%;
}

article {
    padding-left: 50px;
    width: 70%;
}

a {
    color: #d2d2d2;
    cursor: pointer;
}

a:hover,
a:visited {
    color: #4bd1d1;
}
